<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="c:\Projects\ConfigValuesCS.config">
		<add key="SiteCollUrl" value="" />
		<add key="UserName" value="" />
		<add key="UserPw" value="" />
		<add key="ClientIdWithSecret" value="" />
		<add key="ClientIdWithCert" value="" />
		<add key="ClientIdWithAccPw" value="" />
		<add key="ClientSecret" value="" />
	</appSettings>
</configuration>