<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="c:\Projects\ConfigValuesCS.config">
		<add key="SiteBaseUrl" value="" />
		<add key="SiteAdminUrl" value="" />
		<add key="SiteCollUrl" value="" />
		<add key="UserName" value="" />
		<add key="UserPw" value="" />
		<add key="ClientIdWithAccPw" value="" />
	</appSettings>
</configuration>