<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings file="c:\Projects\exCs.values.config">
    <add key="exUserName" value="" />
    <add key="exUserPw" value="" />
    <add key="exAppId" value="" />
    <add key="exTenantId" value="" />
  </appSettings>
</configuration>
