<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings file="c:\Projects\spCs.values.config">
      <add key="spUrl" value="" />
      <add key="spBaseUrl" value="" />
      <add key="spAdminUrl" value="" />
      <add key="spUserName" value="" />
      <add key="spUserPw" value="" />
    </appSettings>
</configuration>