<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunctionappgavd01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/997d2e8b-6d19-467e-96c7-8c2a7ed29cd5/resourceGroups/Test_FunctionsV4_01/providers/Microsoft.Web/sites/TestFunctionAppGavd01</ResourceId>
    <PublishUrl>https://testfunctionappgavd01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>