<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings file="c:\Projects\grCs.values.config">
      <add key="ClientIdApp" value="" />
      <add key="ClientSecretApp" value="" />
      <add key="ClientIdDel" value="" />
      <add key="ClientSecretDel" value="" />
      <add key="TenantName" value="" />
      <add key="UserName" value="" />
      <add key="UserPw" value="" />
    </appSettings>
</configuration>